{% extends "mars/home.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'mars/news.css' %}">
<div class="container">


 
   
    

        <div class=" main-news flex-column d-flex justify-content-center align-items-center " >
            <div class="text-left">
                <h1 class="news_new">NEWS & EVENTS</h1>
            </div>


            <div class="list-container journals card-start ">
              {% for post in posts %}
                
                <div class="card  py-3 publication  ">
                  <div class="card-body publication-card">
                    <h5 class="card-title font-weight-bold">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 font-italic">{{ journal.author }}</h6>
                    <p class="card-text">{{ post.body }}</p>
                    <a href=" {{ post.url }}" class="btn btn-primary">Read More</a>
                  </div>
                </div> 
                {% endfor %}
      
            </div>

        
        </div>
        
    
</div>


      
{% endblock content %}